.currency{
    height: 60px;
    display: flex;
    align-items: center;
    gap: 30px;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.currency *{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    color: #747474;
}
select{
    background-color: transparent;
    border: none;
    outline: none;
    text-align: left;
    padding: 0 15px 0 5px;
}
select:focus-visible{
    outline: none;
}
option{
    background-color: #1a1a1a;
    padding: 10px;
    border: none;
    outline: none;
}
option{
    cursor: pointer;
}
.title{
    color: #F63356
}
input{
   outline: none;
   width: 100%;
   background-color: transparent;
   border: none;
   text-align: right;
   min-width: 25px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}