body{
    background-color: #1A1A1A;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.converter{
    border: solid 1px #fff;
    width: 375px;
    height: 812px;
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 768px) {
    .converter{
        width: 500px;
        min-width: 100vw;
    }
}
header, footer
{
    height: 50%;
    border: solid 1px red;
    width: 100%;
}
